* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

a {
  text-decoration: none; }

li {
  list-style: none;
  text-decoration: none; }

body {
  width: 100%; }

.header {
  height: 100%;
  width: 100%;
  background-color: #000000; }
  .header .nav .nav__ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center; }
    .header .nav .nav__ul .nav__item .nav__link {
      color: #ffffff; }

.menu__main {
  background-color: #e9d431;
  width: 100%;
  height: 100%;
  padding-bottom: 100px; }
  .menu__main .menu__banner {
    width: 100%;
    background-size: cover; }
  .menu__main .menu__container-burguer, .menu__main .menu__container-extras, .menu__main .menu__container-salads {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    width: 70%;
    gap: 35px;
    height: 100%; }
    .menu__main .menu__container-burguer .menu__card, .menu__main .menu__container-extras .menu__card, .menu__main .menu__container-salads .menu__card {
      height: 350px;
      width: 300px;
      text-align: center; }

.header__section {
  height: 95vh;
  width: 100%;
  position: relative;
  overflow: hidden; }
  .header__section .initial-bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    opacity: 0.9;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover; }
  .header__section .initial__infocenter {
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center; }
    .header__section .initial__infocenter .initial__container {
      height: 100%;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .header__section .initial__infocenter .initial__container .initial__container-logo {
        height: 150px;
        width: 150px; }
        .header__section .initial__infocenter .initial__container .initial__container-logo .initial__container-logo-burger {
          width: 100%;
          height: 100%; }
      .header__section .initial__infocenter .initial__container .initial__container-title {
        width: auto; }
        .header__section .initial__infocenter .initial__container .initial__container-title .initial__container-spaitel {
          font-size: clamp(2.5rem, 4rem, 5.5rem);
          color: #FEFAE2; }
      .header__section .initial__infocenter .initial__container .initial__container-links {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap; }
        .header__section .initial__infocenter .initial__container .initial__container-links .initial__container-links--item {
          white-space: nowrap;
          font-size: 1.25rem;
          margin: 1em 10px;
          padding: 10px 20px;
          background-color: #FEFAE2;
          border-radius: 10px;
          border: 1px solid black;
          color: #323232;
          letter-spacing: 2px; }

.main__section {
  display: block;
  height: 100%;
  width: 100%; }
  .main__section .banner__container, .main__section .info__section {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center; }
    .main__section .banner__container .banner__left, .main__section .info__section .banner__left {
      border-right: 1px solid white;
      color: #FFFFFF;
      background-color: black;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column; }
      .main__section .banner__container .banner__left .banner__left-title, .main__section .info__section .banner__left .banner__left-title {
        color: #e9d431;
        font-size: 2.5rem;
        font-weight: bold;
        letter-spacing: 4px; }
      .main__section .banner__container .banner__left .banner__left-days, .main__section .info__section .banner__left .banner__left-days {
        font-size: 1.25rem;
        font-weight: bold;
        letter-spacing: 2px; }
      .main__section .banner__container .banner__left .banner__left-price, .main__section .info__section .banner__left .banner__left-price {
        font-size: 1.25rem;
        font-weight: bold;
        letter-spacing: 2px; }
    .main__section .banner__container .banner__right, .main__section .info__section .banner__right {
      color: #FFFFFF;
      background-color: black;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column; }
      .main__section .banner__container .banner__right .banner__right-title, .main__section .info__section .banner__right .banner__right-title {
        color: #e9d431;
        font-size: 2.5rem;
        font-weight: bold;
        letter-spacing: 4px; }
      .main__section .banner__container .banner__right .banner__right-days, .main__section .info__section .banner__right .banner__right-days {
        font-size: 1.25rem;
        font-weight: bold;
        letter-spacing: 2px; }
  .main__section .about__section {
    display: flex;
    height: auto;
    padding: 1em 0;
    width: 100%;
    gap: 2rem;
    background-color: #464646;
    color: #FEFAE2;
    border-bottom: 1px solid black; }
    .main__section .about__section .about__container {
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      justify-content: space-evenly;
      max-width: 70ch;
      overflow-wrap: break-word;
      margin: 0em auto 0em auto; }
      .main__section .about__section .about__container .about__title {
        font-size: 4rem; }
      .main__section .about__section .about__container .about__texts .about__texts-subtext {
        margin-top: 10px; }
  .main__section .suscribe__section {
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #8d8d8d;
    text-align: center; }
    .main__section .suscribe__section .suscribe__title {
      font-size: 2.5rem;
      color: #e9d431; }
    .main__section .suscribe__section .suscribe__subtitles {
      font-weight: 700;
      word-wrap: normal; }
    .main__section .suscribe__section .suscribe__form {
      display: block; }
      .main__section .suscribe__section .suscribe__form .suscribe__title-bompier {
        font-weight: 700;
        text-align: start; }
      .main__section .suscribe__section .suscribe__form .suscribe__input {
        padding: 0.3em 0.7em;
        border-radius: .4em;
        background-color: #e9d431;
        font-weight: 700;
        border: 2px solid black; }
      .main__section .suscribe__section .suscribe__form .suscribe__button {
        background: #e9d431;
        font-family: inherit;
        padding: 0.3em 0.7em;
        font-weight: 900;
        font-size: 18px;
        border: 3px solid black;
        border-radius: 0.4em;
        box-shadow: 0.1em 0.1em; }
        .main__section .suscribe__section .suscribe__form .suscribe__button:hover {
          transform: translate(-0.05em, -0.05em);
          box-shadow: 0.15em 0.15em; }
        .main__section .suscribe__section .suscribe__form .suscribe__button:active {
          transform: translate(0.05em, 0.05em);
          box-shadow: 0.05em 0.05em; }
  .main__section .info__section .info__left {
    border-right: 1px solid white;
    color: #FFFFFF;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column; }
    .main__section .info__section .info__left h3 {
      color: #e9d431;
      font-size: 2.5rem;
      font-weight: bold;
      letter-spacing: 4px; }
  .main__section .info__section .info__right {
    color: #FFFFFF;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column; }
    .main__section .info__section .info__right h3 {
      color: #e9d431;
      font-size: 2.5rem;
      font-weight: bold;
      letter-spacing: 4px; }
    .main__section .info__section .info__right a {
      white-space: nowrap;
      font-size: 1rem;
      margin: .5em .315em;
      padding: .25em .5em;
      background-color: #FEFAE2;
      border-radius: 10px;
      border: 1px solid black;
      color: #323232;
      letter-spacing: 2px; }

.footer {
  background-color: #323232;
  text-align: center; }
  .footer .footer__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    align-items: center;
    margin: 0 auto;
    max-width: 700px;
    border-bottom: 1px solid black; }
    .footer .footer__container .footer__left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      text-align: start; }
    .footer .footer__container .footer__mid {
      display: flex;
      justify-content: center; }
      .footer .footer__container .footer__mid img {
        height: 100px;
        width: 100px; }
    .footer .footer__container .footer__right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end; }
  .footer .footer__bottoms-container .footer__bottom {
    display: flex;
    justify-content: center;
    align-items: center; }

@media screen and (max-width: 768px) {
  .main__section .banner__container, .main__section .info__section {
    grid-template-columns: repeat(1, 1fr);
    border-bottom: 1px solid #ffffff; }
    .main__section .banner__container .banner__left, .main__section .info__section .banner__left {
      border-right: none;
      border-bottom: 1px solid #ffffff; }
  .main__section .info__section {
    grid-template-columns: repeat(1, 1fr);
    border-bottom: 1px solid #ffffff; }
    .main__section .info__section .info__left {
      border-right: none;
      border-bottom: 1px solid #ffffff; } }
