* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

a {
  text-decoration: none; }

li {
  list-style: none;
  text-decoration: none; }

body {
  width: 100%; }

.header {
  height: 100%;
  width: 100%;
  background-color: #000000;
  position: sticky;
  top: 0;
  z-index: 999; }
  .header .nav .nav__ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center; }
    .header .nav .nav__ul .nav__item .nav__link {
      color: #ffffff; }

.delivery__main .delivery__menuOptions {
  display: flex;
  align-items: center;
  position: sticky;
  background-color: white;
  z-index: 10;
  top: 107px;
  padding: .7em 1.5em;
  margin-top: 30px;
  overflow-x: scroll;
  border-bottom: 1px solid #8d8d8d;
  border-top: 1px solid #8d8d8d; }
  .delivery__main .delivery__menuOptions .delivery__menuOptions-title h2 {
    font-size: 1rem;
    padding-right: .8em; }
  .delivery__main .delivery__menuOptions .delivery__menuOptions-menu {
    width: 100%; }
    .delivery__main .delivery__menuOptions .delivery__menuOptions-menu .delivery__menuOptions-ul {
      display: flex;
      flex-direction: row; }
      .delivery__main .delivery__menuOptions .delivery__menuOptions-menu .delivery__menuOptions-ul .delivery__menuOptions-item {
        white-space: nowrap;
        padding: .25em .5em;
        margin-right: .5em;
        border: 1px solid #323232;
        border-radius: 15px;
        background-color: #e9d431; }
        .delivery__main .delivery__menuOptions .delivery__menuOptions-menu .delivery__menuOptions-ul .delivery__menuOptions-item a {
          color: #000000;
          font-size: .75rem; }

.delivery__main .delivery__menuOrders {
  padding: 2em 1.5em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .delivery__main .delivery__menuOrders-title {
    margin-bottom: 1em;
    font-size: 1.65rem; }
  .delivery__main .delivery__menuOrders-container .containerBurguers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .delivery__main .delivery__menuOrders-container .containerBurguers-box {
      min-width: 420px;
      max-width: 600px;
      width: 100%;
      margin-bottom: 1em;
      margin-right: 1.5em;
      border: 1px solid #8d8d8d;
      padding: 1em;
      border-radius: 20px; }
      .delivery__main .delivery__menuOrders-container .containerBurguers-box .containerBurguers-box-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5%;
        margin-right: 5%; }
        .delivery__main .delivery__menuOrders-container .containerBurguers-box .containerBurguers-box-item div {
          display: flex;
          justify-content: flex-start;
          flex-direction: column; }
          .delivery__main .delivery__menuOrders-container .containerBurguers-box .containerBurguers-box-item div .menu-desc {
            width: 100%;
            font-size: .8rem;
            line-height: 25.2px;
            margin-right: 0; }
        .delivery__main .delivery__menuOrders-container .containerBurguers-box .containerBurguers-box-item .salad__img {
          width: 160px;
          height: 130px; }
        .delivery__main .delivery__menuOrders-container .containerBurguers-box .containerBurguers-box-item img {
          height: 125px;
          width: 135px;
          background-size: cover;
          object-fit: cover; }
        .delivery__main .delivery__menuOrders-container .containerBurguers-box .containerBurguers-box-item .extras {
          height: 125px;
          width: 160px; }
        .delivery__main .delivery__menuOrders-container .containerBurguers-box .containerBurguers-box-item .plus {
          padding: 15px;
          cursor: pointer;
          transition: all .3s ease 0s;
          background: #ffe581;
          border-radius: 50%;
          position: relative;
          margin-right: 0;
          display: flex;
          align-items: flex-end; }
          .delivery__main .delivery__menuOrders-container .containerBurguers-box .containerBurguers-box-item .plus__liner {
            width: 3px;
            height: 15px;
            background: #000;
            border-radius: 15px;
            position: absolute;
            left: calc(53% - 2px);
            top: 24%; }
          .delivery__main .delivery__menuOrders-container .containerBurguers-box .containerBurguers-box-item .plus__linel {
            width: 3px;
            height: 15px;
            background: #000;
            border-radius: 15px;
            position: absolute;
            left: calc(53% - 2px);
            transform: rotate(90deg);
            top: 24%; }

.menu__main {
  background-color: #e9d431;
  width: 100%;
  height: 100%;
  padding-bottom: 100px; }
  .menu__main .menu__banner {
    width: 100%;
    background-size: cover; }
  .menu__main .section__burguer {
    padding: 5.50em 0; }
    .menu__main .section__burguer .menu__title {
      display: block;
      height: 300px;
      width: 600px;
      margin: 0 auto; }
    .menu__main .section__burguer .menu__burguer {
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      justify-content: center;
      align-items: center;
      width: 70%;
      gap: 35px;
      height: 100%; }
      .menu__main .section__burguer .menu__burguer .menu__card {
        height: 350px;
        width: 300px;
        text-align: center;
        padding: 1.25em 0 1.75em 0; }
        .menu__main .section__burguer .menu__burguer .menu__card-img {
          height: 210px;
          width: 250px; }
  .menu__main .section__extras {
    padding: 6.25em 0; }
    .menu__main .section__extras .menu__title {
      display: block;
      height: 100px;
      width: 350px;
      margin: 0 auto; }
    .menu__main .section__extras .menu__extras {
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      justify-content: center;
      align-items: center;
      width: 70%;
      gap: 35px;
      height: 100%; }
      .menu__main .section__extras .menu__extras .menu__card {
        height: 350px;
        width: 300px;
        text-align: center;
        padding: 1.25em 0 1.75em 0; }
        .menu__main .section__extras .menu__extras .menu__card-img {
          height: 230px;
          width: 330px;
          background-size: cover; }
  .menu__main .section__salads {
    padding: 6.25em 0; }
    .menu__main .section__salads .menu__title {
      display: block;
      height: 100px;
      width: 350px;
      margin: 0 auto; }
    .menu__main .section__salads .menu__salads {
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      justify-content: center;
      align-items: center;
      width: 70%;
      gap: 35px;
      height: 100%; }
      .menu__main .section__salads .menu__salads .menu__card {
        height: 500px;
        width: 300px;
        text-align: center;
        padding: 1.25em 0 1.75em 0; }
        .menu__main .section__salads .menu__salads .menu__card-img {
          height: 300px;
          width: 300px;
          background-size: cover; }

.header__section {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  opacity: 0.9; }
  .header__section .initial-bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    opacity: 0.9;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover; }
  .header__section .initial__infocenter {
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center; }
    .header__section .initial__infocenter .initial__container {
      height: 100%;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .header__section .initial__infocenter .initial__container .initial__container-logo {
        height: 150px;
        width: 150px; }
        .header__section .initial__infocenter .initial__container .initial__container-logo .initial__container-logo-burger {
          width: 100%;
          height: 100%; }
      .header__section .initial__infocenter .initial__container .initial__container-title {
        width: auto; }
        .header__section .initial__infocenter .initial__container .initial__container-title .initial__container-spaitel {
          font-size: clamp(2.5rem, 4rem, 5.5rem);
          color: #ffffff; }
      .header__section .initial__infocenter .initial__container .initial__container-links {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap; }
        .header__section .initial__infocenter .initial__container .initial__container-links .initial__container-links--item {
          white-space: nowrap;
          font-size: 1.25rem;
          margin: 1em .625em;
          letter-spacing: 2px;
          padding: .75rem 2.5rem;
          border: 2px solid #ffffff;
          font-weight: 700;
          transition: 500ms ease-out;
          color: #ffffff; }
          .header__section .initial__infocenter .initial__container .initial__container-links .initial__container-links--item:hover {
            background-color: #ffffff;
            color: #000000; }

.main__section {
  display: block;
  height: 100%;
  width: 100%; }
  .main__section .banner__container, .main__section .info__section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    align-items: center; }
    .main__section .banner__container .banner__left, .main__section .info__section .banner__left,
    .main__section .banner__container .banner__right,
    .main__section .info__section .banner__right {
      height: 300px;
      position: relative;
      border-right: 1px solid #ffffff;
      color: #FFFFFF;
      background-color: black;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column; }
      .main__section .banner__container .banner__left .carrousel__content, .main__section .info__section .banner__left .carrousel__content,
      .main__section .banner__container .banner__right .carrousel__content,
      .main__section .info__section .banner__right .carrousel__content {
        position: absolute; }
        .main__section .banner__container .banner__left .carrousel__content .banner__title, .main__section .info__section .banner__left .carrousel__content .banner__title,
        .main__section .banner__container .banner__right .carrousel__content .banner__title,
        .main__section .info__section .banner__right .carrousel__content .banner__title {
          color: #ffffff;
          font-size: 2.5rem;
          font-weight: bold;
          letter-spacing: 4px; }
        .main__section .banner__container .banner__left .carrousel__content i, .main__section .info__section .banner__left .carrousel__content i,
        .main__section .banner__container .banner__right .carrousel__content i,
        .main__section .info__section .banner__right .carrousel__content i {
          font-size: 2.5rem; }
        .main__section .banner__container .banner__left .carrousel__content .banner__btn, .main__section .info__section .banner__left .carrousel__content .banner__btn,
        .main__section .banner__container .banner__right .carrousel__content .banner__btn,
        .main__section .info__section .banner__right .carrousel__content .banner__btn {
          padding: .43rem 2.5rem;
          border: 2px solid #ffffff;
          font-size: 0.75rem;
          font-weight: 700;
          transition: 500ms ease-out;
          color: #ffffff; }
          .main__section .banner__container .banner__left .carrousel__content .banner__btn:hover, .main__section .info__section .banner__left .carrousel__content .banner__btn:hover,
          .main__section .banner__container .banner__right .carrousel__content .banner__btn:hover,
          .main__section .info__section .banner__right .carrousel__content .banner__btn:hover {
            background-color: #ffffff;
            color: #000000; }
      .main__section .banner__container .banner__left .carrouselBanner, .main__section .info__section .banner__left .carrouselBanner,
      .main__section .banner__container .banner__right .carrouselBanner,
      .main__section .info__section .banner__right .carrouselBanner {
        height: 100%;
        width: 100%;
        background-size: cover;
        object-fit: cover;
        position: absolute; }
        .main__section .banner__container .banner__left .carrouselBanner img, .main__section .info__section .banner__left .carrouselBanner img,
        .main__section .banner__container .banner__right .carrouselBanner img,
        .main__section .info__section .banner__right .carrouselBanner img {
          opacity: 0.6;
          height: 100%;
          width: 100%;
          display: block;
          background-size: cover;
          object-fit: cover; }
  .main__section .about__section {
    display: flex;
    height: auto;
    padding: 1em 0;
    width: 100%;
    gap: 2rem;
    background-color: #464646;
    color: #ffffff;
    border-bottom: 1px solid black; }
    .main__section .about__section .about__container {
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      justify-content: space-evenly;
      max-width: 70ch;
      overflow-wrap: break-word;
      margin: 0em auto 0em auto; }
      .main__section .about__section .about__container .about__title {
        font-size: 4rem; }
      .main__section .about__section .about__container .about__texts .about__texts-subtext {
        margin-top: 10px; }
  .main__section .suscribe__section {
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #8d8d8d;
    text-align: center; }
    .main__section .suscribe__section .suscribe__title {
      font-size: 2.5rem;
      color: #e9d431; }
    .main__section .suscribe__section .suscribe__subtitles {
      font-weight: 700;
      word-wrap: normal; }
    .main__section .suscribe__section .suscribe__form {
      display: block; }
      .main__section .suscribe__section .suscribe__form .suscribe__title-bompier {
        font-weight: 700;
        text-align: start; }
      .main__section .suscribe__section .suscribe__form .suscribe__input {
        padding: 0.3em 0.7em;
        border-radius: .4em;
        background-color: #e9d431;
        font-weight: 700;
        border: 2px solid black; }
      .main__section .suscribe__section .suscribe__form .suscribe__button {
        background: #e9d431;
        font-family: inherit;
        padding: 0.3em 0.7em;
        font-weight: 900;
        font-size: 18px;
        border: 3px solid black;
        border-radius: 0.4em;
        box-shadow: 0.1em 0.1em; }
        .main__section .suscribe__section .suscribe__form .suscribe__button:hover {
          transform: translate(-0.05em, -0.05em);
          box-shadow: 0.15em 0.15em; }
        .main__section .suscribe__section .suscribe__form .suscribe__button:active {
          transform: translate(0.05em, 0.05em);
          box-shadow: 0.05em 0.05em; }
  .main__section .info__section .info__left {
    border-right: 1px solid white;
    color: #FFFFFF;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column; }
    .main__section .info__section .info__left h3 {
      color: #ffffff;
      font-size: 2.5rem;
      font-weight: bold;
      letter-spacing: 4px; }
  .main__section .info__section .info__right {
    color: #FFFFFF;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column; }
    .main__section .info__section .info__right h3 {
      color: #ffffff;
      font-size: 2.5rem;
      font-weight: bold;
      letter-spacing: 4px; }
    .main__section .info__section .info__right a {
      white-space: nowrap;
      font-size: 1rem;
      margin: .5em .315em;
      padding: .25em .5em;
      background-color: #ffffff;
      border-radius: 10px;
      border: 1px solid #000000;
      color: #323232;
      letter-spacing: 2px; }

.footer {
  background-color: #000000;
  text-align: center;
  height: 100%;
  color: #FFFFFF;
  padding: 2em 0;
  font-family: 'Verdana', serif; }
  .footer .footer__container .footer__center {
    text-align: center; }
    .footer .footer__container .footer__center .footer__mid-logo {
      margin: 0 auto;
      height: 150px;
      width: 150px; }
      .footer .footer__container .footer__center .footer__mid-logo img {
        object-fit: cover;
        background-size: cover; }
    .footer .footer__container .footer__center .footer__mid {
      font-size: 0.65rem;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 900;
      letter-spacing: 3px;
      margin-bottom: 40px; }
    .footer .footer__container .footer__center .footer__bottom-icons {
      display: flex;
      justify-content: center;
      gap: 15px;
      margin-top: 40px; }
      .footer .footer__container .footer__center .footer__bottom-icons .footer__bottom-icon {
        height: 50px;
        width: 50px; }
        .footer .footer__container .footer__center .footer__bottom-icons .footer__bottom-icon .fa-brands {
          font-size: 1.5rem;
          color: #FFFFFF; }

@media screen and (max-width: 768px) {
  .menu__main .section__burguer .menu__title {
    width: 400px;
    height: 200px; }
  .main__section .banner__container, .main__section .info__section {
    grid-template-columns: repeat(1, 1fr);
    border-bottom: 1px solid #ffffff; }
    .main__section .banner__container .banner__left, .main__section .info__section .banner__left {
      border-right: none;
      border-bottom: 1px solid #ffffff; }
  .main__section .info__section {
    grid-template-columns: repeat(1, 1fr);
    border-bottom: 1px solid #ffffff; }
    .main__section .info__section .info__left {
      border-right: none;
      border-bottom: 1px solid #ffffff; } }
