
@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(133, 0, 0, 0);
    }
    100% {
        box-shadow: 0 0 0 10px rgba(163, 0, 0, 0.295);
    }
}

@keyframes show_slide {
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-10%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10px);
    }
}

@keyframes hide_slide {
    0%{
        transform: translateX(-10px);
    }
    40%{
        transform: translateX(0%);
    }
    80%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(100%);
    }
}
