// FOOTER //

.footer{
    background-color:  $clr-bg-nav;
    text-align: center;
    height: 100%;
    color: $clr-footer-font;
    padding: 2em 0;
    font-family: 'Verdana', serif;
    .footer__container{
        .footer__center{
            text-align: center;
            .footer__mid-logo{
                margin: 0 auto;
                height: 150px;
                width: 150px;
                img{
                    object-fit: cover;
                    background-size: cover;
                }
            }
            .footer__mid{
                font-size: 0.65rem;
                text-transform: uppercase;
                color: #ffffff;
                font-weight: 900;
                letter-spacing: 3px;
                margin-bottom: 40px;
            }
            .footer__bottom-icons{
                display: flex;
                justify-content: center;
                gap: 15px;
                margin-top: 40px;
                .footer__bottom-icon{
                    height: 50px;
                    width: 50px;
                    .fa-brands{
                        font-size: 1.5rem;
                        color: $clr-footer-font;
                    }
                }
            }
        }
    }
}