// Menu HTML

.menu__main{
    background-color: $clr-bg-main;
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    .menu__banner{
        width: 100%;
        background-size: cover;
    }
    .section__burguer{
        padding: 5.50em 0;
        .menu__title{
            display: block;
            height: 300px;
            width: 600px;
            margin: 0 auto;
        }
        .menu__burguer{
            @include menu__sections;
            .menu__card{
                height: 350px;
                width: 300px;
                text-align: center;
                padding: 1.25em 0 1.75em 0;
                &-img{
                    height: 210px;
                    width: 250px;
                }
                &__cards-title{
    
                }
                &__card-desc{
    
                }
            }
        }
    }
    .section__extras{
        padding: 6.25em 0;
        .menu__title{
            display: block;
            height: 100px;
            width: 350px;
            margin: 0 auto;
        }
        .menu__extras{
            @include menu__sections;
            .menu__card{
                height: 350px;
                width: 300px;
                text-align: center;
                padding: 1.25em 0 1.75em 0;
                &-img{
                    height: 230px;
                    width: 330px;
                    background-size: cover;
                }
            }
        }
    }
    .section__salads{
        padding: 6.25em 0;
        .menu__title{
            display: block;
            height: 100px;
            width: 350px;
            margin: 0 auto;
        }
        .menu__salads{
            @include menu__sections;
            .menu__card{
                height: 500px;
                width: 300px;
                text-align: center;
                padding: 1.25em 0 1.75em 0;
                &-img{
                    height: 300px;
                    width: 300px;
                    background-size: cover;
                }
            }
        }
    }
}