// MAIN DELIVERY //
body{
    overflow-x: hidden;
}
.header{
    height: 100%;
    width: 100%;
    background-color: $clr-bg-nav;
    position: sticky;
    top: 0;
    z-index: 999;
    .nav{
        .nav__ul{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            text-align: center;
            .nav__item{
                .nav__link{
                    color: $clr-fc-nav;
                    .nav__logo{

                    }
                }
            }
            .cartContainer{
                cursor: pointer;
                .cart{
                    font-size: $body-big-fs;
                    color: white;
                    position: relative;
                    z-index: -1;
                    .cartQuantity{
                        position: absolute;
                        color: $clr-main-letter-button;
                        font-size: .75rem;
                        top: -6px;
                        right: -3px;
                        z-index: 50;
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        top: -8px;
                        right: -8px;
                        cursor: pointer;
                        background-color: red;
                        width: 18px;
                        height: 18px;
                        border-radius: 50%;
                        z-index: 0;
                        animation: pulse-animation 1.4s infinite;
                        box-shadow: 0px 0px 1px 1px #ff000080;
                    }
                }
            }
        }
    }
}
.delivery__main{
    position: relative;
    .delivery__menuOptions{
        display: flex;
        align-items: center;
        position: sticky;
        background-color: rgb(255, 255, 255);
        z-index: 10;
        top: 107px;
        padding: .7em 1.5em;
        margin-top: 30px;
        // overflow-x: scroll;
        border-bottom: 1px solid $clr-lightgrey-bg;
        border-top: 1px solid $clr-lightgrey-bg;
        .delivery__menuOptions-title{
            h2{
                font-size: 1rem;
                padding-right: .8em;
            }
        }
        .delivery__menuOptions-menu{
            width: 100%;
            .delivery__menuOptions-ul{
                display: flex;
                flex-direction: row;
                .delivery__menuOptions-item{
                    white-space: nowrap;
                    padding: .25em .5em;
                    margin-right: .5em;
                    border: 1px solid $clr-dark-bg;
                    border-radius: 15px;
                    background-color: $clr-yllw-font;
                    a{
                        color: $clr-bg-nav;
                        font-size: .75rem;
                    }
                }
            }
        }
    }
    .delivery__cards-order{
        display: flex;
        align-items: baseline;
        padding: 0 5%;
        // Cards con productos
        .delivery__menu{
            z-index: 300;
            .delivery__menuOrders{
                padding: 2em 1.5em;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                &-title{
                    margin-bottom: 1em;
                    font-size: $body-big-fs;
                    text-align: center;
                }
                &-container{
                    
                    .containerBurguers{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        &-box{
                            min-width: 400px;
                            max-width: 600px;
                            width: 100%;
                            // width: 40%;
                            margin-bottom: 1em;
                            margin-right: 1.5em;
                            border: 1px solid $clr-lightgrey-bg;
                            padding: 1em;
                            border-radius: 20px;
                            .containerBurguers-box-item{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                gap: 5%;
                                margin-right: 5%;
                                div{
                                    display: flex;
                                    justify-content: flex-start;
                                    flex-direction: column;
                                    .menu-desc{
                                        width: 100%;
                                        font-size: .8rem;
                                        line-height: 25.2px;
                                        margin-right: 0;
                                    }
                                    .delivery_price{
                                        margin-top: .5em;
                                        font-weight: $fw-bold;
                                    }
                                }
                                .salad__img{
                                    height: 130px;
                                }
                                img{
                                    height: 125px;
                                    width: 160px;
                                    object-fit: cover;
                                }
                                .extras{
                                    height: 130px;
                                    width: 165px;
                                }
                                .plus{
                                    padding: 15px;
                                    cursor:pointer;
                                    transition: all .3s ease 0s;
                                    background: $clr-bg-main;
                                    border-radius: 50%;
                                    position: relative;
                                    margin-right: 0;
                                    display: flex;
                                    align-items: flex-end;
                                    &__liner {
                                        width: 3px;
                                        height: 15px;
                                        background: #000;
                                        border-radius: 15px;
                                        position: absolute;
                                        left: calc(53% - 2.5px);
                                        top: 24%;
                                    }
                                    &__linel{
                                        width: 3px;
                                        height: 15px;
                                        background: #000;
                                        border-radius: 15px;
                                        position: absolute;
                                        left: calc(53% - 2.5px);
                                        transform: rotate(90deg);
                                        top: 24%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .filter__section{
            // width: 100%;
            max-width: 875px;
            padding: 1em;
            border: 2px solid $clr-dark-bg;
            border-radius: 20px;
            z-index: 100;
            .filter__container{
                &_title{
                    display: flex;
                    flex-direction: column;
                    p{
                        font-weight: $fw-bold;
                    }
                }
                .filter__dblCont{
                    .filter__container_cat{
                        display: flex;
                        flex-direction: column;
                        p{
                            font-weight: $fw-bold;
                        }
                        a{
                            color: black;
                            text-decoration: none;
                            margin-left: 5px;
                            cursor: pointer;
                            &:hover{
                                background-color: rgb(116, 116, 116);
                                color: $clr-bg-main;
                            }
                        }
                        .active{
                            display: block;
                            border-bottom: 2px solid $clr-bg-main;
                        }
                    }
                    .filter__container_price{
                        display: flex;
                        flex-direction: column;
                        a{
                            color: black;
                            text-decoration: none;
                            margin-left: 5px;
                            cursor: pointer;
                            &:hover{
                                background-color: rgb(116, 116, 116);
                                color: $clr-bg-main;
                            }
                        }
                        .active{
                            display: block;
                            border-bottom: 2px solid $clr-bg-main;
                        }
                        p{
                            font-weight: $fw-bold;
                        }
                    }
                }
            }
        }
        .modal-bg{
            visibility: hidden;
            opacity: 0;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.6);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1000;
            transition: visibility 0s opacity 0.5s;
            .modal{
                background: white;
                border: 5px solid black;
                width: 50%;
                // Carrito de compra
                .orders__section{
                    border: 1px solid $clr-lightgrey-bg;
                    z-index: 200;
                    .orderCart__container{
                        &_close{
                            display:flex;
                            justify-content: flex-end;
                            .boxShadow:hover:not(.fadeOut){
                                box-shadow: (0px 0px 0px 20px red inset);
                                // transform: scale(0.8);
                                &:after{
                                    background-color: #fff;
                                    transform: (rotate(-45deg) scale(0.6));
                                }
                                &:before{
                                    background-color: #fff;
                                    transform: (rotate(45deg) scale(0.6));
                                }
                            }
                            .fadeOut{
                                opacity:0;
                            }
                            .circle{
                                width:30px;
                                height:30px;
                                background:transparent;
                                border: 4px solid red;
                                border-radius: 50%;
                                position:relative;
                                cursor:pointer;
                                display:inline-block;
                                margin:10px 20px;
                                &:after{
                                    width:18px;
                                    height:3.5px;
                                    background-color: red;
                                    content:"";
                                    left:50%;
                                    top:50%;
                                    margin-left:-9px;
                                    margin-top:-2px;
                                    position:absolute;
                                    transform: rotate(-45deg);
                                    /*@include transform-origin(100%,100%);*/
                                }
                                &:before{
                                    left:50%;
                                    top:50%;
                                    margin-left:-9px;
                                    margin-top:-2px;
                                    width: 18px;
                                    height: 3.5px;
                                    background-color:red;
                                    content:"";
                                    position:absolute;
                                    transform: rotate(45deg);
                                    /*@include transform-origin(0%,0%);*/
                                }
                                & + p{
                                    text-transform:lowercase;
                                    font-size:14px;
                                    margin-bottom:10px;
                                }
                            }
                        }
                        &_add_item{
                            border-bottom: 1px solid $clr-lightgrey-bg;
                            .cart__ul{
                                padding: 0 .9375em;
                                height: calc(131px * 2);
                                overflow-y: scroll;
                                .cart_item{
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    border-bottom: 1px solid #e9e9e9;
                                    color: #0b2135;
                                    cursor: pointer;
                                    font-weight: 700;
                                    padding: 10px 15px;
                                    overflow: hidden;
                                    &_img{
                                        width: 140px;
                                        height: 110px;
                                        object-fit: cover;
                                        background-size: cover;
                                        &_detail{
                                            width: 100%;
                                            height: 100%;
                                        }
                                    }
                                    &_quantity{
                                        color: #fd4f57;
                                        width: 50px;
                                    }
                                    &_description{
                                        width: 120px;
                                    }
                                    &_value{
                                        width: 50px;
                                    }
                                }
                            }
                        }
                        &_info{
                            padding: .625em .9375em;
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                            .container_info{
                                // margin-right: 4em;
                            }
                            .info_name{
                                padding-left: 9em;
                            }
                            // .info_total{
                            //     margin-right: 6.5em;
                            // }
                        }
                        &_prices{
                            padding: .625em .9375em;
                            border-bottom: 1px solid $clr-lightgrey-bg;
                            ul{
                                li{
                                    display: flex;
                                    align-items: center;
                                    h6{
                                        color: $clr-lightgrey-bg;
                                        flex-grow: 1;
                                        line-height: 2.2;
                                    }
                                    span{
                                        color: #0b2135;;
                                        font-weight: $fw-bold;
                                    }
                                }
                                .li__total{
                                    padding-top: 1.25em;
                                    h4{
                                        font-size: 1.2rem;
                                        flex-grow: 1;
                                    }
                                }
                            }
                        }
                        &_discount{
                            padding: .625em .9375em;
                            border-bottom: 1px solid $clr-lightgrey-bg;
                            ul{
                                .disccount__btn{
                                    display: flex;
                                    align-items: center;
                                    &-container{
                                        position: relative;
                                        input{
                                            letter-spacing: .2px;
                                            padding: .625em 4.5em .625em .9375em;
                                            font-size: 1rem;
                                            font-weight: 400;
                                            height: 45px;
                                        }
                                        button{
                                            position: absolute;
                                            top: 1px;
                                            right: 1px;
                                            padding: 0 10px;
                                            background: #fff;
                                            color: #0b2135;
                                            font-size: 14px;
                                            font-weight: 400;
                                            letter-spacing: .2px;
                                            border: none;
                                            outline: none;
                                            border-radius: 2px;
                                            text-transform: none;
                                            height: 43px;
                                            cursor: pointer;
                                            &::after{
                                                content: '';
                                                border-bottom: 1px solid $clr-red-effects;
                                                display: block;
                                                height: 1px;
                                            }
                                        }
                                    }
                                }
                                .disccount__text{
                                    label{
                                        color: #0b2135;
                                        letter-spacing: 1px;
                                        font-size: $sml-fs;
                                        font-weight: $fw-bold;
                                        line-height: 1.1;
                                    }
                                }
                            }
                        }
                        &_aclarations{
                            // margin-bottom: .625em;
                            position: relative;
                            border-top: none;
                            padding: .625em .9375em;
                            border-bottom: 1px solid $clr-lightgrey-bg;
                            h5{
                                color: #fd4f57;
                                margin: .625em 0;
                                letter-spacing: 1px;
                                font-weight: $fw-bold;
                                text-transform: uppercase;
                                font-size: .75rem;
                                line-height: 1.1;
                            }
                            textarea{
                                background: #f9f9f9;
                                border: 1px solid #e9e9e9;
                                color: #0b2135;
                                font-size: 16px;
                                font-style: italic;
                                outline: 0;
                                padding: 22px;
                                resize: none;
                                height: 100px;
                                width: 100%;
                                overflow: auto;
                                margin: 0;
                            }
                        }
                        &_orderbtn{
                            padding: 1em 1.2em;
                            width: 100%;
                            height: 100%;
                            border: none;
                            background-color: #dbdbdb;
                            &_cont{
                                display: flex;
                                justify-content: space-between;
                                &_title{
                                    display: flex;
                                    font-size: $smd-fs;
                                    color: $clr-bg-nav;
                                }
                                &_price{
                                    font-size: $smd-fs;
                                    color: $clr-bg-nav;
                                }
                            }
                        }
                    }
                }
            }
        }
        .bg-active{
            visibility: visible;
            opacity: 1;
        }
    }
}