// MAIN DELIVERY //

.delivery__main{
    .delivery__menuOptions{
        display: flex;
        align-items: center;
        position: sticky;
        background-color: rgb(255, 255, 255);
        z-index: 10;
        top: 107px;
        padding: .7em 1.5em;
        margin-top: 30px;
        overflow-x: scroll;
        border-bottom: 1px solid $clr-lightgrey-bg;
        border-top: 1px solid $clr-lightgrey-bg;
        .delivery__menuOptions-title{
            h2{
                font-size: 1rem;
                padding-right: .8em;
            }
        }
        .delivery__menuOptions-menu{
            width: 100%;
            .delivery__menuOptions-ul{
                display: flex;
                flex-direction: row;
                .delivery__menuOptions-item{
                    white-space: nowrap;
                    padding: .25em .5em;
                    margin-right: .5em;
                    border: 1px solid $clr-dark-bg;
                    border-radius: 15px;
                    background-color: $clr-yllw-font;
                    a{
                        color: $clr-bg-nav;
                        font-size: .75rem;
                    }
                }
            }
        }
    }
    .delivery__cards-order{
        display: flex;
        align-items: baseline;
        // Cards con productos
        .delivery__menu{
            .delivery__menuOrders{
                padding: 2em 1.5em;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                &-title{
                    margin-bottom: 1em;
                    font-size: $body-big-fs;
                }
                &-container{
                    
                    .containerBurguers{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        &-box{
                            min-width: 420px;
                            max-width: 600px;
                            width: 100%;
                            // width: 40%;
                            margin-bottom: 1em;
                            margin-right: 1.5em;
                            border: 1px solid $clr-lightgrey-bg;
                            padding: 1em;
                            border-radius: 20px;
                            .containerBurguers-box-item{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                gap: 5%;
                                margin-right: 5%;
                                div{
                                    display: flex;
                                    justify-content: flex-start;
                                    flex-direction: column;
                                    .menu-desc{
                                        width: 100%;
                                        font-size: .8rem;
                                        line-height: 25.2px;
                                        margin-right: 0;
                                    }
                                    .delivery__price{
                                        margin-top: .5em;
                                        font-weight: $fw-bold;                         }
                                }
                                .salad__img{
                                    width: 160px;
                                    height: 130px;
                                }
                                img{
                                    height: 125px;
                                    width: 135px;
                                    object-fit: cover;
                                }
                                .extras{
                                    height: 130px;
                                    width: 160px;
                                }
                                .plus{
                                    padding: 15px;
                                    cursor:pointer;
                                    transition: all .3s ease 0s;
                                    background: $clr-bg-main;
                                    border-radius: 50%;
                                    position: relative;
                                    margin-right: 0;
                                    display: flex;
                                    align-items: flex-end;
                                    &__liner {
                                        width: 3px;
                                        height: 15px;
                                        background: #000;
                                        border-radius: 15px;
                                        position: absolute;
                                        left: calc(53% - 2.5px);
                                        top: 24%;
                                    }
                                    &__linel{
                                        width: 3px;
                                        height: 15px;
                                        background: #000;
                                        border-radius: 15px;
                                        position: absolute;
                                        left: calc(53% - 2.5px);
                                        transform: rotate(90deg);
                                        top: 24%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        // Carrito de compra
        .orders__section{
            margin-right: 3em;
            border: 1px solid $clr-lightgrey-bg;
            .orderCart__container{
                &-add__item{
                    padding: .625em .9375em;
                }
                &-prices{
                    padding: .625em .9375em;
                    border-bottom: 1px solid $clr-lightgrey-bg;
                    ul{
                        li{
                            display: flex;
                            align-items: center;
                            h6{
                                color: $clr-lightgrey-bg;
                                flex-grow: 1;
                                line-height: 2.2;
                            }
                            span{
                                color: $clr-main-black-letter;
                                font-weight: $fw-bold;
                            }
                        }
                        .li__total{
                            padding-top: 1.25em;
                            h4{
                                font-size: 1.2rem;
                                flex-grow: 1;
                            }
                        }
                    }
                }
                &-discount{
                    padding: .625em .9375em;
                    border-bottom: 1px solid $clr-lightgrey-bg;
                    ul{
                        .disccount__btn{
                            display: flex;
                            align-items: center;
                            &-container{
                                position: relative;
                                input{
                                    letter-spacing: .2px;
                                    padding: .625em 4.5em .625em .9375em;
                                    font-size: 1rem;
                                    font-weight: 400;
                                    height: 45px;
                                }
                                button{
                                    position: absolute;
                                    top: 1px;
                                    right: 1px;
                                    padding: 0 10px;
                                    background: #fff;
                                    color: #0b2135;
                                    font-size: 14px;
                                    font-weight: 400;
                                    letter-spacing: .2px;
                                    border: none;
                                    outline: none;
                                    border-radius: 2px;
                                    text-transform: none;
                                    height: 43px;
                                    cursor: pointer;
                                    &::after{
                                        content: '';
                                        border-bottom: 1px solid $clr-red-effects;
                                        display: block;
                                        height: 1px;
                                    }
                                }
                            }
                        }
                        .disccount__text{
                            label{
                                color: #0b2135;
                                letter-spacing: 1px;
                                font-size: $sml-fs;
                                font-weight: $fw-bold;
                                line-height: 1.1;
                            }
                        }
                    }
                }
                &-aclarations{
                    margin-bottom: .625em;
                    position: relative;
                    border-top: none;
                    padding: .625em .9375em;
                    border-bottom: 1px solid $clr-lightgrey-bg;
                    h5{
                        color: #fd4f57;
                        margin: .625em 0;
                        letter-spacing: 1px;
                        font-weight: $fw-bold;
                        text-transform: uppercase;
                        font-size: .75rem;
                        line-height: 1.1;
                    }
                    textarea{
                        background: #f9f9f9;
                        border: 1px solid #e9e9e9;
                        color: #0b2135;
                        font-size: 16px;
                        font-style: italic;
                        outline: 0;
                        padding: 22px;
                        resize: none;
                        height: 100px;
                        width: 100%;
                        overflow: auto;
                        margin: 0;
                    }
                }
                &-orderbtn{
                    display: none;
                    padding: .625em .9375em;
                }
            }
        }
    }
}