//================== MEDIA QUERIES ====================//

@media screen and (max-width: 768px){

}


@media screen and (max-width: 768px) {
    .main__section{
        .banner__container{
            grid-template-columns: repeat(1, 1fr);
            border-bottom: 1px solid #ffffff;
            .banner__left{
                border-right: none;
                border-bottom: 1px solid #ffffff;
            }
        }
        .info__section{
            grid-template-columns: repeat(1, 1fr);
            border-bottom: 1px solid #ffffff;
            .info__left{
                border-right: none;
                border-bottom: 1px solid #ffffff;
            }
            .info__right{
                
            }
        }

    }
}