//================== MEDIA QUERIES ====================//

@media screen and (max-width: 1024px){
    .orders__section{
        display: none;
    }
}


@media screen and (max-width: 768px) {
    //delivery overscroll x
    .delivery__main{
        .delivery__menuOptions{
            overflow-x: scroll;
        }
    }
    // Index video section
    .header__section{
        .initial__infocenter{
            .initial__container{
                .initial__container-title{
                    .initial__container-spaitel{
                        font-size: clamp($h3-fs, $h2-fs, $h3-fs);
                    }
                }
                .initial__container-links{
                    .initial__container-links--item{
                        font-size: $md-fs;
                    }
                }
            }
        }
    }
    // About section
    .about__section{
        .about__container{
            .about__texts{
                .about__texts-text{
                    padding: 0;
                }
            }
        }
    }
    // Menu title smaller
    .menu__main{
        .section__burguer{
            .menu__title{
                width: 400px;
                height: 200px;
            }
        }
    }
    // 1 column on  the index main
    .main__section{
        .banner__container{
            grid-template-columns: repeat(1, 1fr);
            .banner__left{
            }
        }
        .info__section{
            grid-template-columns: repeat(1, 1fr);
            .info__left{
            }
            .info__right{
                
            }
        }
    }
    // Suscribe section of index
    .suscribe__section{

    }
    // Footer 
    footer{
        margin-top: 6.25em;
    }
}