// VARIABLES for our HAMBURGUER PAGE

//=============== COLOR VARIABLES ============//

// Main colors

$clr-main-letter-button: #ffffff;
$clr-main-black-letter: #323232;
$clr-yllw-font: #e9d431;
$clr-grey-bg: #464646;
$clr-lightgrey-bg: #8d8d8d;
$clr-red-effects: #fd4f57;

// Nav Color

$clr-bg-nav: #000000;
$clr-fc-nav: #ffffff;

//MENU COLORS 

$clr-bg-main: #e9d431;

// Footer Colors

$clr-dark-bg: #323232;
$clr-footer-bg: #323232;
$clr-footer-font: #FFFFFF;

//=============== FONTS ================//

// Sizes //

$h1-fs: 5.5rem;
$h2-fs: 4rem;
$h3-fs: 2.5rem;
$body-big-fs: 1.65rem;
$body-fs: 1.25rem;
$md-fs: 1rem;
$smd-fs: .875rem;
$sml-fs: 0.75rem;


// Weight //

$fw-light: 300;
$fw-normal: 400;
$fw-semi: 500;
$fw-bold: 700;

// Input styling
$size-bezel: 0.5rem;
$size-radius: 4px;
$color-accent: #fab700;

//================= MIXINS ===================//

@mixin flexCenter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

@mixin flexcenterBanners {
    color: $clr-footer-font;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

@mixin whiteTitle{
    color: $clr-main-letter-button;
    font-size: $h3-fs;
    font-weight: bold;
    letter-spacing: 4px;
}

@mixin boldfontTitle {
    font-size: $body-fs;
    font-weight: bold;
    letter-spacing: 2px;
}

@mixin menu__sections {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap: 35px;
    height: 100%;
}